<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>Ekko</key>
            <dict>
                <key>UIPrerenderedIcon</key>
                <true/>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Ekko</string>
                </array>
            </dict>
            <key>Ashe</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Ashe-29</string>
                    <string>Ashe-40</string>
                    <string>Ashe-57</string>
                    <string>Ashe-60</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
            <key>Yasuo</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Yasuo-29</string>
                    <string>Yasuo-40</string>
                    <string>Yasuo-57</string>
                    <string>Yasuo-60</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
        </dict>
    </dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
